@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        *{ margin:0px; padding:0px;}
        .divList {height:768px;width: 100%;}
    </style>
</head>
<body>
    <div class="divList">
        @Html.Raw(ViewBag.EditorHtml)
    </div>
</body>
</html>

